@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Club membership</h1>
    <p class="lead">This application lets you manage your D&D club membership. You can manage members, campaigns and editions.
    Members can be easily added, edited and removed.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Sorting and searching</h3>
        <p>
            You can sort your members and campaigns by various attributes, and you can also use a search function to find anyone you
            need in a second.
        </p>
    </div>
    <div class="col-md-3">
        <h3>Filtering and point system</h3>
        <p>
            Each member has a number of points he aquires by playing the campaigns. Points are calculated automatically.
            You can filter top players by points, or top players by points and their type with a click on a button.
        </p>
    </div>
    <div class="col-md-3">
        <h3>Get material</h3>
        <p>
            If you need material and equipment for you campaigns, you can go to official D&D page by Wizards of the Coast
            and get them there
        </p>
        <p><a class="btn btn-default" href="http://dnd.wizards.com">Visit Wizards of the Coast &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Get Player's Handbook</h3>
        <p align="center">
            <a href="https://www.amazon.com/Players-Handbook-Dungeons-Dragons-Wizards/dp/0786965606">
                <img border="0" title="Click on the image to go to the Amazon page." src="https://images-na.ssl-images-amazon.com/images/I/81Zgv2hxG-L.jpg" class="box-image">
            </a>
        </p>
    </div>

</div>