@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Club membership</h1>
    <p class="lead">This application lets you manage your D&D club membership. You can manage members, campaigns and editions.
    Members can be easily added, edited and removed.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sorting and searching</h2>
        <p>
            You can sort your members and campaigns by various attributes, and you can also use a search function to find anyone you
            need in a second.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Filtering and point system</h2>
        <p>Each member has a number of points he aquires by playing the campaigns. Points are calculated automatically. 
        You can filter top players by points, or top players by points and their type with a click on a button.</p>
    </div>
    <div class="col-md-4">
        <h2>Get material</h2>
        <p>If you need material and equipment for you campaigns, you can go to official D&D page by Wizards of the Coast 
        and get them there</p>
        <p><a class="btn btn-default" href="http://dnd.wizards.com">Visit Wizards of the Coast &raquo;</a></p>
    </div>
</div>